<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Red Aspen Photography</title>

        <meta property="og:image" content="http://photography.redaspendesigns.com/images/albums/weddings/3.jpg" />
        <meta property="image" content="http://photography.redaspendesigns.com/images/ablums/weddings/3.jpg" />

        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Favicons -->
        <link rel="shortcut icon" type="image/x-icon" href="/images/global/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="assets/img/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/apple-touch-icon-144x144-precomposed.png">

        <!-- Css -->
        <link rel="stylesheet" type="text/css" href="/styles/lib/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/lib/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/lib/prettyPhoto.css">
        <link rel="stylesheet" type="text/css" href="/styles/lib/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="/styles/lib/owl.theme.css">
        <link rel="stylesheet" type="text/css" href="/styles/lib/owl.transitions.css">
        <link rel="stylesheet" type="text/css" href="/styles/lib/galleria.classic.css">
        <link rel="stylesheet" type="text/css" href="/styles/lib/responsive-nav.css">
        <link rel="stylesheet" type="text/css" href="/styles/lib/style.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/styles/lib/fotorama.css">
        
        <link rel="stylesheet/less" type="text/css" href="/styles/global.less" />
        <link rel="stylesheet/less" type="text/css" href="/styles/home.less" />
        <link rel="stylesheet/less" type="text/css" href="/styles/gallery.less" />
        <link rel="stylesheet/less" type="text/css" href="/styles/contact.less" />
        
        <!--google fonts -->
        <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        
<!--        <img class="screen-scraper-img sr-only" src="../images/showcase/7.jpg" />-->
        
        <div class="site-loader">
            <img src="/images/global/loader.gif" alt="Loading">
        </div>

        <h1 class="main-title"><a href="/" class="block"><img src="/images/global/logo1.png">RED ASPEN PHOTOGRAPHY</a></h1>
        
        <nav id="main-navigation" class="clearfix nav-collapse">
            <ul>
                <li class="sub home"><a href="/">HOME</a></li>
                <li class="sub about"><a href="/about">ABOUT</a></li>
                <li class="sub pricing"><a href="/pricing">PRICING</a></li>
                <li class="sub gallery"><a href="/gallery">GALLERY</a></li>
                <li class="sub blog"><a href="https://ashcropper.exposure.co/">BLOG</a></li>
                <li class="sub contact"><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        

        
        <div class="header-bottom">
            <ul class="social-icons social-black nav-default">
                <li><a target="_blank" href="https://www.facebook.com/redaspendesigns"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="http://instagram.com/redaspendesigns"><i class="fa fa-instagram"></i></a></li>
                <li><a target="_blank" href="http://www.pinterest.com/ashleigh19/"><i class="fa fa-pinterest"></i></a></li>
            </ul>
            <p>COPYRIGHT <br /> <b>Red Aspen</b> PHOTOGRAPHY</p>
        </div>
        
        
        {{{body}}}
        
        <!-- BEHAVIORS -->
        <script src="/scripts/behavior/libs/jquery.min.js"></script>
        <script src="/scripts/behavior/libs/bootstrap.min.js"></script>
        <script src="/scripts/behavior/libs/jquery.prettyPhoto.js"></script>
        <script src="/scripts/behavior/libs/jquery.hoverIntent.js"></script>
        <script src="/scripts/behavior/libs/jquery.fitvids.js"></script>
        <script src="/scripts/behavior/libs/owl.carousel.min.js"></script>
        <script src="/scripts/behavior/libs/imagesloaded.pkgd.min.js"></script>
        <script src="/scripts/behavior/libs/masonry.pkgd.min.js"></script>
        <script src="/scripts/behavior/libs/responsiveslides.min.js"></script>
        <script src="/scripts/behavior/libs/fotorama.js"></script>
<!--
        <script src="/scripts/behavior/libs/galleria.min.js"></script>
        <script src="/scripts/behavior/libs/galleria.classic.js"></script>
-->
        <script src="/scripts/behavior/libs/smoothscroll.js"></script>
        <script src="/scripts/behavior/libs/responsive-nav.min.js"></script>
        <script src="/scripts/behavior/libs/classie.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

        <!-- Map Scripts -->
        <script src="//maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
        <script src="/scripts/behavior/libs/gmap3.min.js"></script>

        <!-- Custom Scripts -->
        <script src="/scripts/Function1.js"></script>
        <script src="/scripts/global.js"></script>
        <script src="/scripts/Module.js"></script>
        <script src="/scripts/home.js"></script>
        <script src="/scripts/gallery.js"></script>
        
        <!-- Google Anylitics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-60957512-1', 'auto');
          ga('send', 'pageview');

        </script>

    </body>
</html>
