<style>
   .about {border-bottom:1px solid #771013;}
</style>
<section id="about" class="type-two" >
   <div class="section-page flat col-md-8 col-md-offset-2">
      <div class="row">
         <div class="col-md-8 center col-md-offset-2">
             <div class="img load-image" data-src="http://res.cloudinary.com/redaspenphotography/image/upload/{0}/v1456257942/about_me/me.jpg"></div>
         </div>
      </div>
      <div class="row">
         <p class="h3">
            I grew up in Southern Oregon with the lush, green, dewy forest as my backyard. If you needed to find me, I was most likely outside with my little film camera, that was gifted to me from my parents at my 7th birthday. My Grammie told me few years back, “I always knew you would settle with a creative career.” Somehow I missed that mark and pushed myself into a corporate world for many years.
         </p>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="img load-image" data-src="http://res.cloudinary.com/redaspenphotography/image/upload/{0}/v1456257919/about_me/IMG_9684.jpg"></div>
         </div>
         <div class="col-md-4">
            <div class="img load-image" data-src="http://res.cloudinary.com/redaspenphotography/image/upload/{0}/v1456257919/about_me/IMG_9733.jpg"></div>
         </div>
         <div class="col-md-4">
            <div class="img load-image" data-src="http://res.cloudinary.com/redaspenphotography/image/upload/{0}/v1456257919/about_me/IMG_9704.jpg"></div>
         </div>
      </div>
      <div class="row">
         <p class="h3">With new beginnings in Colorado a few years ago, it was time to do what came natural and felt effortless. My high-school sweetheart husband gifted me a camera and told me to run as fast as I could toward what we both knew made me the happiest in life.</p>
      </div>
      <div class="row">
         <div class="col-md-10 col-md-offset-1">
            <div class="img load-image" 
                 data-src="http://res.cloudinary.com/redaspenphotography/image/upload/{0}/v1456257919/about_me/IMG_5032.jpg"></div>
         </div>
      </div>
      <div class="row">
         <p class="h3">So here I am! I love being a storyteller and a historian, and meeting such amazing people in this community; which is why I try to capture who you are in a timeless manner with emotion, detail, and care. As a photographer, I feel I am capturing history as it unfolds whether it's starting a new life, families growing, or couples making vows. I hope that my images will be looked back on by children, grandchildren and even great-great grandchildren.
         </p>
      </div>
      <div class="row">
         <p class="h3">And I must add, I feel honored to be invited into telling these stories and expressing who you are through images.</p>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="img load-image" 
                 data-src="http://res.cloudinary.com/redaspenphotography/image/upload/{0}/v1456257927/about_me/FirstLook.jpg"></div>
         </div>
         <div class="col-md-6">
            <img class="img" src="https://s3-us-west-2.amazonaws.com/red-aspen-photography/about-me/IMG_5425.jpg"/>
         </div>
        </div>
        <div class="row">
         <div class="col-md-6">
            <div class="img load-image" 
                 data-src="http://res.cloudinary.com/redaspenphotography/image/upload/{0}/v1456257927/about_me/IMG_7686.jpg"></div>
         </div>
         <div class="col-md-6">
            <div class="img load-image" 
                 data-src="http://res.cloudinary.com/redaspenphotography/image/upload/{0}/v1456257927/about_me/IMG_8946.jpg"></div>
         </div>
        </div>
      <div class="row">
         <p class="h3">If I am not behind my camera, then you may find me crossing off “must-do’s” from my ongoing bucket list, traveling in the Rocky Mountains (I am always looking for the next secret photography location), testing a new restaurant in the area, camping in Moab (it’s a favorite), eating a whole bowl of popcorn to myself, or wandering the foothills with my rescue puppy and husband.
         </p>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="img load-image" data-src="http://res.cloudinary.com/redaspenphotography/image/upload/{0}/v1456257916/about_me/IMG_5618.jpg"></div>
         </div>
         <div class="col-md-6">
            <div class="img load-image" data-src="http://res.cloudinary.com/redaspenphotography/image/upload/{0}/v1456257916/about_me/IMG_4951.jpg"></div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
            <div class="img load-image" data-src="http://res.cloudinary.com/redaspenphotography/image/upload/{0}/v1456257916/about_me/IMG_4084.jpg"></div>
         </div>
         <div class="col-md-6">
            <div class="img load-image" data-src="http://res.cloudinary.com/redaspenphotography/image/upload/{0}/v1456257916/about_me/IMG_3654-2.jpg"></div>
         </div>
      </div>
      <div class="row">
         <p class="h3">Thanks for stopping by!</p>
      </div>
      <div class="space"></div>
      <!--
         <div class="testimonial-wrapper offset-h">
         	<h3 class="text-border text-w600">TESTIMONIALS</h3>
             <div id="owl-testimonials" class="testimonial-list">
                 
         
                 <div class="item">
                     <h3>{{test.quote}}</h3>
                     <h4>{{test.author}}</h4>
                     <h5>{{test.time}}</h5>
                 </div>
         
             </div>
         
         </div>
         -->
      <div class="space"></div>
   </div>
</section>