<style>
    .gallery {border-bottom:1px solid #771013;}
</style>
<section id="works-detail" class="type-one">
	<div class="section-page blank">
        
        <div class="work-gallery col-md-12">
            <h2 class="text-border">{{title}}</h2>
        </div>

        <div class="fotorama" data-nav="thumbs" data-height="75%" data-arrows="true">
        {{#each images}}
            <div class="img load-image" data-src="{{this.src}}"></div>
        {{/each}}
        </div>
    </div>
</section>

