<style>
    .gallery {border-bottom:1px solid #771013;}
</style>
<section id="works-detail" class="type-one">
	<div class="section-page blank">
        
        <div class="work-gallery col-md-12">
            <h2 class="text-border">{{title}}</h2>
        </div>

        <div class="grid">
        {{#each images}}
            <div class="grid-item">
                <a href="javascript:void(0)">
                    <img class="img grid-load-image" data-src="{{this.src}}"/>
                </a>
            </div>
        {{/each}}
        </div>
    </div>
</section>

