<style>
    .contact {border-bottom:1px solid #771013;}
</style>
<section id="contact" class="type-three">
	<div class="section-page">
    	<!-- Contact Top -->
        <div class="contact-top">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 center">
                    <p class="h1">Questions | Inquiries</p>
                    <p class="h3">I would love to hear from you! Please fill out the form below and tell me more about what you're looking for.</p>
                    <p>If I don't respond within 24 hours please email me at: <a href="mailto:redaspenphotography@gmail.com">redaspenphotography@gmail.com</a></p>
                    <p>And be sure to follow me</p>
                    <ul class="social-icons social-black center">
                        <li><a target="_blank" href="https://www.facebook.com/redaspendesigns"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/redaspenphotography/"><i class="fa fa-instagram"></i></a></li>
                        <li><a target="_blank" href="http://www.pinterest.com/ashleigh19/"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <span class="space"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <!-- Contact Form -->
                     <div class="contact-form">
                        <div class="data-form form-trans center">
                            <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>NAME</label>
                                    <input type="text" name="name" placeholder="ENTER YOUR NAME" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>E-MAIL</label>
                                    <input type="email" name="email" placeholder="ENTER YOUR E-MAIL" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>MESSAGE</label>
                                    <textarea name="message" rows="6" placeholder="ENTER YOUR MESSAGE" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <button type="submit" class="btn btn-black"><i class="fa fa-paper-plane-o"></i>SEND YOUR MESSAGE</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>