<style>
    .contact {border-bottom:1px solid #771013;}
</style>
<section id="contact" class="type-three">
	<div class="section-page">
    	<!-- Contact Top -->
        <div class="contact-top">
            <div class="row">
                <div class="col-md-5">
                    <!-- Contact Info -->
                    <div class="contact-info">
                    	<!-- <h2 class="text-sans text-w300">Studio &amp; Workshop</h2> -->
                        <ul class="contact-address">
                            <li><b class="block">CITY</b>BOULDER COLORADO</li>
                            <li><b class="block">PHONE</b>541 . 890 . 8149</li>
                            <li><b class="block">WEB</b><a href="http://redaspenphotography.com" target="_blank">http://redaspenphotography.com</a></li>
                            <li><b class="block">E-MAIL</b><a href="mailto:thelittleshopgraphics@gmail.com">thelittleshopgraphics@gmail.com</a></li>
                        </ul>
                        <ul class="social-icons social-white nav-default">
                            <li><a target="_blank" href="https://www.facebook.com/redaspendesigns"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="http://instagram.com/redaspendesigns"><i class="fa fa-instagram"></i></a></li>
                            <li><a target="_blank" href="http://www.pinterest.com/ashleigh19/"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                    <!-- Contact Info End -->
                </div>
                <div class="col-md-7">
                    <!-- Contact Form -->
                     <div class="contact-form">
                        <div class="data-form form-trans">
                            <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>NAME</label>
                                    <input type="text" name="name" placeholder="ENTER YOUR NAME" required>
                                </div>
                                <div class="col-md-6">
                                    <label>E-MAIL</label>
                                    <input type="email" name="email" placeholder="ENTER YOUR E-MAIL" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>MESSAGE</label>
                                    <textarea name="message" rows="6" placeholder="ENTER YOUR MESSAGE" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-black"><i class="fa fa-paper-plane-o"></i>SEND YOUR MESSAGE</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- Contact Form End -->
                </div>
            </div>
        </div>
        <!-- Contact Top End -->
        
        <!-- Contact Map -->
        <div class="contact-map">
        	<div class="google-map-1"></div>
        </div>
        <!-- Contact Map End -->
    </div>
</section>