<style>
    .home {border-bottom:1px solid #771013;}
</style>
<section id="home" class="home-page">
    
    <ul class="rslides ">
        {{#each images}}
            <li class="showcase-image">
            <div class="load-image" data-src="{{this.src}}"/>
            </li>
        {{/each}}
    </div>
</section>