<style>
    .home {border-bottom:1px solid #771013;}
/*
    .header {

        position: fixed;
        display: block;
        z-index: 100;
        width: 100%;
        color: white;
        background-color: rgba(255, 255, 255, .2);
        padding-top:0px;

    }
    
    .header #main-navigation li {
        background-color:rgba(0, 0, 0, .1);
    }
    .header #main-navigation li a {
        color:white;
    }
*/
</style>
<section id="home" class="home-page">
    
    <ul class="rslides ">
        {{#each images}}
            <li class="showcase-image">
            <div class="load-image" data-src="{{this.src}}"/>
            </li>
        {{/each}}
    </div>
</section>