<style>
    .about {border-bottom:1px solid #771013;}

</style>
<section id="about" class="type-two" ng-controller="aboutmeController">
	<div class="section-page flat">
        <div class="row">
        	<div class="col-md-6">
            	<h3 class="text-sans text-w500">I thrive from getting behind my camera and looking into your world for a bit.</h3>
        		<p class="align-justify">And how fun that you would share that opportunity with me! I could not be more excited that you stopped by here. You are the reason I started my photography! It has been a desire for many years and with a sweet surprise from my husband one afternoon, he gifted me my first camera!</p>
               	<p class="align-justify">I find an immense amount of joy from being a part of your life for a moment in time. My "lifestyle" photography is very relaxed and allows for capturing you in real-life events and places. </p>
                <p class="align-justify">If I'm not behind my camera, you can assume I'm adding to the collage you see. </p>
                <p class="align-justify">Feel free to <a href="../contact">reach out to me!</a> I'm excited to hear from you!</p>
            </div>
            <div class="col-md-6">
            	<img class="img-full" ng-src="{{profileImages[0].src}}" alt="About">
            </div>
        </div>
        
        <div class="space"></div>
        
        <!-- Testimonials -->
        <div class="testimonial-wrapper offset-h">
        	<h3 class="text-border text-w600">TESTIMONIALS</h3>
            <div id="owl-testimonials" class="testimonial-list">
                
                <div class="item" ng-repeat="test in testimonials">
                    <h3>{{test.quote}}</h3>
                    <h4>{{test.author}}</h4>
                    <h5>{{test.time}}</h5>
                </div>

            </div>

        </div>
        <!-- Testimonials End -->
        
        <div class="space"></div>
        
        <!-- Grid List -->
<!--         <h3 class="text-border text-w600">CLIENTS</h3>
        <div class="grid-list client-list">
        	<div class="row">

            	<div class="grid col-md-4">
                	<img src="assets/img/client-1.png" alt="Client Name">
                </div>

            	<div class="grid col-md-4">
                	<img src="assets/img/client-2.png" alt="Client Name">
                </div>

            	<div class="grid col-md-4">
                	<img src="assets/img/client-3.png" alt="Client Name">
                </div>

            </div>
            <div class="row">

            	<div class="grid col-md-4">
                	<img src="assets/img/client-4.png" alt="Client Name">
                </div>

            	<div class="grid col-md-4">
                	<img src="assets/img/client-3.png" alt="Client Name">
                </div>

            	<div class="grid col-md-4">
                	<img src="assets/img/client-2.png" alt="Client Name">
                </div>

            </div>
        </div> -->
        <!-- Grid List End -->
    </div>
</section>