<style>
    .about {border-bottom:1px solid #771013;}

</style>
<section id="about" class="type-two" ng-controller="aboutmeController">
	<div class="section-page flat">
        <div class="row">
            <div class="col-md-6">
            	<img class="about-me-img" ng-src="{{profileImages[0].src}}" alt="About">
            </div>
        	<div class="col-md-6">
            	<h3 class="text-sans text-w500">I thrive from getting behind my camera and looking into your world for a bit.</h3>
        		<p class="align-justify">I am a Northwest girl at heart. Born and raised in Southern Oregon. That upbringing made Colorado a perfect fit with my familiar Oregon lifestyle. With two years as a Colorado resident, I now can’t imagine living anywhere else. Here are some fun snippets about myself and things I enjoy: </p>
                <ul>
                    <li>I have kissed a camel on the lips in Morocco (ewww! I know!) </li>
                    <li>Watching sunsets from a secret ledge that faced The Alhambra was a typical night for me when living abroad in Granada, Spain.</li>
                    <li>Moab is one of my favorite places in the whole world. Unique arches and red rocks leave me coming back for more. </li>
                    <li>I am always on the search for an awesome slot canyon.</li>
                    <li>Rafting down the Rogue River in my home of Southern Oregon is a summer must!</li>
                    <li>Climbing up the Mayan Pyramids in the Yucatan Penninsula is a thrill (especially for someone like me who can’t handle heights.)</li>
                    <li>Yoga on the Rocks at Red Rocks keeps me rejuvenated during the busy summer months. </li>
                    <li>Finding the hidden gems of Colorado is always a priority (pass me a note if you have a great place to explore!) </li>
                    <li>I have a fierce passion for the environment. If you need any tips on recycling, I’m your gal. </li>
                    <li>My rescue puppy, June, knows how to give a kiss on the cheek and even a loving hug (I’m totally serious!)</li>
                    <li>I miss the Nicaraguan community I lived with, and volunteered for, who taught me to enjoy the life I am given.</li>
                    <li>I live in my Birkenstocks and really can’t help it! I try to remove them for date night…</li>
                    <li>Friday nights are spent finding fun foods around Boulder (if you ever need a recommendation for a place to go, let me know!) </li>
                    <li>I am 100% addicted to popcorn. I just can’t help myself!</li>
                    <li>My husband and I are high school sweethearts and have been best friends for 14 years and just celebrated our 5 year anniversary. Yes, I believe in love! </li>
                    <li>A Colorado sunset over the Rockies is hard to beat. </li>
                    <li>I love to wander and find unique places to shoot sessions at. I keep those trusty spots in my back pocket for you all. </li>
                </ul>
                <br />
                <br />
                <h3 class="text-sans text-w500">About My Photography</h3>
                <p>I remember begging my parents for a film camera on my 6th birthday and once I got that present, it didn’t leave my side. My grandmother told me a few years back, “we always knew you were the creative one and your career would take you in that direction.” I, unfortunately lost sight of that when entering into college and was determined to climb the corporate ladder in a very different career path. Some may say I jumped off that ladder, while others tell me they knew I was destined to take a side road into a new wide open field. And here I am! </p>
                
                <p>My first digital camera was gifted to me by my husband! I find an immense amount of joy from being a part of your life for a moment in time. My photography is very relaxed and allows for capturing the subtle yet important pieces of life. I love the shared opportunity for me to be welcomed into your life and provide a memory for you. I once had a client that said to me, “How wonderful it must be when you are a photography. You are the one who gets to go home and view those special moments and see them again for the first time.” And that is exactly why I love being a photographer. </p>

                <p class="align-justify">Feel free to <a href="../contact">reach out to me!</a> I'm excited to hear from you!</p>
            </div>

        </div>
        
        <div class="space"></div>
        
        <!-- Testimonials -->
        <div class="testimonial-wrapper offset-h">
        	<h3 class="text-border text-w600">TESTIMONIALS</h3>
            <div id="owl-testimonials" class="testimonial-list">
                
                <div class="item" ng-repeat="test in testimonials">
                    <h3>{{test.quote}}</h3>
                    <h4>{{test.author}}</h4>
                    <h5>{{test.time}}</h5>
                </div>

            </div>

        </div>
        
        
        <div class="space"></div>
        
    </div>
</section>