<style>
    .pricing {border-bottom:1px solid #771013;}
</style>
<section id="pricing" class="type-three" ng-controller="pricingController">
	<div class="section-page">
    	<!-- Contact Top -->
        <div class="pricing-top clearfix">
        	<div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Contact Info -->
                    <div class="pricing-info">
                    	<!-- <h2 class="text-sans text-w300">Studio &amp; Workshop</h2> -->
                        <ul class="pricing-address">
                            <li><h2>FULL SESSION</h2></li>
                            <li><h3>$250</h3>
                            	<p>2 HOURS</p>
                            	<p>UP TO 2 LOCATIONS</p>
                            	<p>FLASH DRIVE WITH HIGH RESOLUTION, PROFESSIONALLY EDITED IMAGES</p>
                            	<p><small>TWO HOURS IS THE RECOMMENDATION TO ALLOW FOR ENOUGH TIME TO CAPTURE THESE IMPORTANT MOMENTS.
                            		WITH UP TO TWO LOCATIONS AND UNLIMITED WARDROBE CHANGES, IT ALLOWS FOR A RELAXED AND FUN SHOOT.
                            		IF THINGS RUN A LITTLE LONGER THAN TWO HOURS THEN SO BE IT; WE MUST BE HAVING A GOOD TIME.
                            	</small></p>
                            	<p><small>*THE PICTURES BELONG TO YOU. YOU HAVE THE RIGHTS TO PRINTING AND USE.</small></p>
                            	<p><small>*ADDITIONAL COSTS APPLY TO GROUPS OF 5 OR MORE. PLEASE LET ME KNOW AHEAD OF TIME SO WE CAN DISCUSS COSTS AND PLAN ACCORDINGLY.</small></p>
                            </li>
                        </ul>
                    </div>
                    <!-- Contact Info End -->
                </div>

                <div class="col-md-6">
                    <!-- Contact Info -->
                    <div class="pricing-info">
                    	<!-- <h2 class="text-sans text-w300">Studio &amp; Workshop</h2> -->
                        <ul class="pricing-address">
                            <li><h2>SMALL SESSION</h2></li>
                            <li><h3>$150</h3>
                            	<p>1 HOUR</p>
                            	<p>1 LOCATION</p>
                            	<p>FLASH DRIVE WITH HIGH RESOLUTION, PROFESSIONALLY EDITED IMAGES</p>
                            	<p><small>LIMITED ONE HOUR SHOOT. GREAT FOR A FEW QUICK AND EASY SHOTS FOR THE MORE FINANCIALLY CONSCIOUS.
                            	</small></p>
                            	<p><small>*THE PICTURES BELONG TO YOU. YOU HAVE THE RIGHTS TO PRINTING AND USE.</small></p>
                            	<p><small>*ADDITIONAL COSTS APPLY TO GROUPS OF 5 OR MORE. PLEASE LET ME KNOW AHEAD OF TIME SO WE CAN DISCUSS COSTS AND PLAN ACCORDINGLY.</small></p>                           	
                            </li>
                        </ul>

                    </div>
                    <!-- Contact Info End -->
                </div>

            </div> 
            <div class="row option">
                <div class="col-md-5">
                    <!-- Contact Info -->
                    <div class="pricing-info">
                    	<!-- <h2 class="text-sans text-w300">Studio &amp; Workshop</h2> -->
                        <ul class="pricing-address">
                            <li><h2>CUSTOM SESSION</h2></li>
                            <li>
                            	<p>NEED SOMETHING SPECIFIC? I WOULD LOVE TO WORK WITH YOU. <a class="link" href="#/contact">GET IN TOUCH</a> AND WE CAN WORK SOMETHING OUT THAT FITS WHAT YOU'RE LOOKING FOR</p>
                            	<p><small>*THE PICTURES BELONG TO YOU. YOU HAVE THE RIGHTS TO PRINTING AND USE.</small></p>                         	
                            </li>
                        </ul>

                    </div>
                    <!-- Contact Info End -->
                </div>

            </div>              

        </div>
        <!-- Contact Top End -->

    </div>
</section>
