<style>
    .pricing {border-bottom:1px solid #771013;}
</style>
<section id="pricing" class="type-three" ng-controller="pricingController">
    
    <div class="pricing-top clearfix">
        <h1>Pricing</h1>
        <div class="row">
            <div class="col-md-4">
                <!-- Contact Info -->
                <div class="item">
                    <a href="#/pricing/portraits" class="block">
                        <img alt="Portrait Pricing" src="/images/albums/families/44.jpg">

                                <h3>Portaits</h3>

                    </a>
                </div>
                <!-- Contact Info End -->
            </div>

            <div class="col-md-4">
                <!-- Contact Info -->
                <div class="item">
                    <a href="#/pricing/weddings" class="block">
                        <img alt="Gallery Title" src="/images/albums/weddings/7.jpg">

                                <h3>Weddings</h3>

                    </a>
                </div>
                <!-- Contact Info End -->
            </div>

            <div class="col-md-4">
                <!-- Contact Info -->
                <div class="item">
                    <a href="#/pricing/business" class="block">
                        <img alt="Gallery Title" src="/images/albums/businesses.jpg">

                                <h3>Business</h3>

                    </a>
                </div>
                <!-- Contact Info End -->
            </div>

        </div> 


    </div>

</section>
