<section id="works-detail" class="type-one" ng-controller="singleAlbumController">
	<div class="section-page blank">
    	<!-- Section Heading -->
    	<h1>PORTFOLIO</h1>
        <!-- Section Heading End -->
        
        <!-- Work Gallery -->
        <div class="work-gallery type-one masonry-list row">
        	<!-- Grid Sizer -->
        	<div class="grid-sizer col-md-4"></div>
            <!-- Grid Sizer End -->
            
            <!-- Work Header -->
        	<div class="item col-md-4">
                <div class="work-header type-one">
                    <h2 class="text-border">{{title}}</h2>
                   
                    <ul class="work-info">
                       
                    </ul>
                </div>
            </div>
            
            

            <div class="item col-md-4" ng-repeat="$img in images">
                <a href="{{$img.src}}" class="block" data-rel="prettyPhoto[pp_gal]" title=" ">
                    <div class="over-image">
                        <img ng-src="{{$img.src}}" alt=" ">
                    </div>
                </a>
            </div>



        </div>
        <!-- Work Gallery End -->
    </div>
</section>
