<style>
    .gallery {border-bottom:1px solid #771013;}
</style>
<section id="works" class="type-two" ng-controller="worksController">
	<div class="section-page blank">

        <div class="work-list type-two">

            <div class="item" ng-repeat="$album in albums">
                <div class="over-image over-zoom">
                    <img ng-src="{{$album.imgsrc}}" alt="Gallery Title">
                    <a href="{{$album.target}}" class="block">
                    <div class="over-content">
                        <div class="align-hvcenter">
                            <h4>{{$album.title}}</h4>
                            <h5>{{$album.description}}</h5>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>